.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #25336c !important;
}
.bg-info {
  background-color: #56b637 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #931f1d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #56b637 !important;
  border-color: #56b637 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #377323 !important;
  border-color: #377323 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #377323 !important;
  border-color: #377323 !important;
}
.btn-success,
.btn-success:active {
  background-color: #25336c !important;
  border-color: #25336c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0f152b !important;
  border-color: #0f152b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f152b !important;
  border-color: #0f152b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #931f1d !important;
  border-color: #931f1d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4b100f !important;
  border-color: #4b100f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4b100f !important;
  border-color: #4b100f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #56b637;
  color: #56b637;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #377323 !important;
  background-color: transparent!important;
  border-color: #377323 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #56b637 !important;
  border-color: #56b637 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #25336c;
  color: #25336c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0f152b !important;
  background-color: transparent!important;
  border-color: #0f152b !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #25336c !important;
  border-color: #25336c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #931f1d;
  color: #931f1d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4b100f !important;
  background-color: transparent!important;
  border-color: #4b100f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #931f1d !important;
  border-color: #931f1d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #25336c !important;
}
.text-info {
  color: #56b637 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #931f1d !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0b0f20 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #31681f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #3e0d0c !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #232323;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #56b637;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #931f1d;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #4e65c2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a2dd8f;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dd5553;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #232323 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #232323;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-unXqvSvVC9 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-unXqvSvVC9 nav.navbar {
  position: fixed;
}
.cid-unXqvSvVC9 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-unXqvSvVC9 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-unXqvSvVC9 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-unXqvSvVC9 .dropdown-item:hover,
.cid-unXqvSvVC9 .dropdown-item:focus {
  background: #232323 !important;
  color: white !important;
}
.cid-unXqvSvVC9 .dropdown-item:hover span {
  color: white;
}
.cid-unXqvSvVC9 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-unXqvSvVC9 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-unXqvSvVC9 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-unXqvSvVC9 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-unXqvSvVC9 .nav-link {
  position: relative;
}
.cid-unXqvSvVC9 .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-unXqvSvVC9 .container {
    flex-wrap: wrap;
  }
}
.cid-unXqvSvVC9 .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-unXqvSvVC9 .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-unXqvSvVC9 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-unXqvSvVC9 .dropdown-menu,
.cid-unXqvSvVC9 .navbar.opened {
  background: #6ca43d !important;
}
.cid-unXqvSvVC9 .nav-item:focus,
.cid-unXqvSvVC9 .nav-link:focus {
  outline: none;
}
.cid-unXqvSvVC9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-unXqvSvVC9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-unXqvSvVC9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-unXqvSvVC9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-unXqvSvVC9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-unXqvSvVC9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-unXqvSvVC9 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #6ca43d;
}
.cid-unXqvSvVC9 .navbar.opened {
  transition: all 0.3s;
}
.cid-unXqvSvVC9 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-unXqvSvVC9 .navbar .navbar-logo img {
  width: auto;
}
.cid-unXqvSvVC9 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-unXqvSvVC9 .navbar.collapsed {
  justify-content: center;
}
.cid-unXqvSvVC9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-unXqvSvVC9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-unXqvSvVC9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-unXqvSvVC9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-unXqvSvVC9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-unXqvSvVC9 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-unXqvSvVC9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-unXqvSvVC9 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-unXqvSvVC9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-unXqvSvVC9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-unXqvSvVC9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-unXqvSvVC9 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-unXqvSvVC9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-unXqvSvVC9 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-unXqvSvVC9 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-unXqvSvVC9 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-unXqvSvVC9 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-unXqvSvVC9 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-unXqvSvVC9 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-unXqvSvVC9 .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-unXqvSvVC9 .navbar.navbar-short {
  min-height: 60px;
}
.cid-unXqvSvVC9 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-unXqvSvVC9 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-unXqvSvVC9 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-unXqvSvVC9 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-unXqvSvVC9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-unXqvSvVC9 .dropdown-item.active,
.cid-unXqvSvVC9 .dropdown-item:active {
  background-color: transparent;
}
.cid-unXqvSvVC9 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-unXqvSvVC9 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-unXqvSvVC9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-unXqvSvVC9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6ca43d;
}
.cid-unXqvSvVC9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-unXqvSvVC9 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-unXqvSvVC9 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-unXqvSvVC9 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-unXqvSvVC9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-unXqvSvVC9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-unXqvSvVC9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-unXqvSvVC9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unXqvSvVC9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unXqvSvVC9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-unXqvSvVC9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unXqvSvVC9 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-unXqvSvVC9 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-unXqvSvVC9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unXqvSvVC9 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-unXqvSvVC9 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-unXqvSvVC9 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-unXqvSvVC9 .navbar {
    height: 70px;
  }
  .cid-unXqvSvVC9 .navbar.opened {
    height: auto;
  }
  .cid-unXqvSvVC9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u0R7D0hwZI {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u0R7D0hwZI .mbr-fallback-image.disabled {
  display: none;
}
.cid-u0R7D0hwZI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u0R7D0hwZI .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u0R7D0hwZI .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u0R7D0hwZI .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u0R7D0hwZI .mbr-section-title {
  color: #25336c;
  text-align: center;
}
.cid-u0R7D0hwZI .mbr-text,
.cid-u0R7D0hwZI .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-u0R7D0hwZI P {
  color: #ffe161;
}
.cid-ts4lCCtyQB {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-ts4lCCtyQB .mbr-fallback-image.disabled {
  display: none;
}
.cid-ts4lCCtyQB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ts4lCCtyQB .mbr-section-title {
  color: #f1f8fa;
}
.cid-ts4lCCtyQB .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tr6KJ7H3U5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tr6KJ7H3U5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tr6KJ7H3U5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tr6KJ7H3U5 .img-wrapper {
  text-align: center;
}
.cid-tr6KJ7H3U5 img {
  margin: auto;
  width: 200px;
  padding-bottom: 2rem;
  align: center;
}
.cid-tr6KJ7H3U5 .row {
  align-items: flex-start;
}
.cid-tr6KJ7H3U5 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (max-width: 992px) {
  .cid-tr6KJ7H3U5 .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-tr6KJ7H3U5 .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tr6KJ7H3U5 .card-wrapper {
    padding: 1rem;
  }
}
.cid-tr6KJ7H3U5 .card-title {
  text-align: center;
}
.cid-tjQaG2G47Y {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-tjQaG2G47Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjQaG2G47Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjQaG2G47Y .mbr-section-title {
  color: #ffffff;
}
.cid-tjQaG2G47Y .mbr-section-subtitle {
  color: #ffffff;
}
.cid-ul17rJqKql {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ul17rJqKql img,
.cid-ul17rJqKql .item-img {
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-ul17rJqKql .item:focus,
.cid-ul17rJqKql span:focus {
  outline: none;
}
.cid-ul17rJqKql .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ul17rJqKql .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ul17rJqKql .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ul17rJqKql .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ul17rJqKql .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ul17rJqKql .mbr-section-title {
  color: #232323;
}
.cid-ul17rJqKql .mbr-text,
.cid-ul17rJqKql .mbr-section-btn {
  text-align: center;
}
.cid-ul17rJqKql .item-title {
  text-align: left;
}
.cid-ul17rJqKql .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-ul17rJqKql .item-subtitle DIV {
  text-align: center;
}
.cid-tnZvWznwaG {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-tnZvWznwaG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnZvWznwaG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnZvWznwaG .mbr-section-title {
  color: #ffffff;
}
.cid-u0R8UvQVM5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-u0R8UvQVM5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u0R8UvQVM5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u0R8UvQVM5 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u0R8UvQVM5 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u0R8UvQVM5 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u0R8UvQVM5 .mbr-text,
.cid-u0R8UvQVM5 .mbr-section-btn {
  text-align: left;
}
.cid-ttL2qveyjj {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-ttL2qveyjj .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttL2qveyjj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttL2qveyjj .mbr-section-title {
  color: #ffffff;
}
.cid-tZIvv5UERd {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-unYau5Lh9h {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-unYau5Lh9h .mbr-fallback-image.disabled {
  display: none;
}
.cid-unYau5Lh9h .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-unYau5Lh9h .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-unYau5Lh9h .row {
  flex-direction: row-reverse;
}
.cid-unYau5Lh9h img {
  width: 100%;
}
.cid-unYau5Lh9h .mbr-description {
  color: #25336c;
}
.cid-unSlsPxvTV {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-unSlsPxvTV .mbr-fallback-image.disabled {
  display: none;
}
.cid-unSlsPxvTV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-unSlsPxvTV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-unSlsPxvTV .row {
  flex-direction: row-reverse;
}
.cid-unSlsPxvTV img {
  width: 100%;
}
.cid-unSlD3R2u5 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-unSlD3R2u5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-unSlD3R2u5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-unSlD3R2u5 .mbr-section-title {
  color: #ffffff;
}
.cid-unSlJLenRt {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-unSlJLenRt .mbr-fallback-image.disabled {
  display: none;
}
.cid-unSlJLenRt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-unSlJLenRt .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-unSlJLenRt .item {
    margin-bottom: 4rem;
  }
}
.cid-unSlJLenRt .item:last-child .icon-box:before {
  display: none;
}
.cid-unSlJLenRt .item.last .icon-box:before {
  display: none;
}
.cid-unSlJLenRt .icon-box {
  background: #6ca43d;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-unSlJLenRt .icon-box {
    margin-right: 1rem;
  }
}
.cid-unSlJLenRt .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #6ca43d;
  transform: translate(-50%, 0);
}
.cid-unSlJLenRt span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-unSlJLenRt .card {
    margin-bottom: 2rem;
  }
  .cid-unSlJLenRt .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-unSlJLenRt .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-unSlJLenRt .icon-box::before {
    top: 114%;
  }
}
.cid-unSlJLenRt .mbr-text,
.cid-unSlJLenRt .mbr-section-btn {
  text-align: left;
}
.cid-tiri2sXcvc {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-tiri2sXcvc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiri2sXcvc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiri2sXcvc .mbr-section-title {
  color: #ffffff;
}
.cid-ul1dj8W68x {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ul1dj8W68x .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-ul1dj8W68x .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-ul1dj8W68x .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6ca43d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-ttL2XsGSEz {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-ttL2XsGSEz .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttL2XsGSEz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttL2XsGSEz .mbr-section-title {
  color: #ffffff;
}
.cid-udo9wmye50 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-udo9wmye50 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udo9wmye50 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udo9wmye50 .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-udo9wmye50 .currentcost {
  color: #232323;
}
.cid-udo9wmye50 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-udo9wmye50 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-udo9wmye50 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udo9wmye50 .text-box {
    padding: 1rem;
  }
}
.cid-udo9wmye50 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-udo9wmye50 .mbr-text,
.cid-udo9wmye50 .cost,
.cid-udo9wmye50 .mbr-section-btn {
  text-align: center;
}
.cid-tirq1juPYE {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-tirq1juPYE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tirq1juPYE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tirq1juPYE .mbr-section-title {
  color: #ffffff;
}
.cid-tirq1juPYE .mbr-section-subtitle {
  color: #f8fffe;
}
.cid-unSlZhRqgb {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-unSlZhRqgb .mbr-fallback-image.disabled {
  display: none;
}
.cid-unSlZhRqgb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-unSlZhRqgb .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-unSlZhRqgb .row {
  flex-direction: row-reverse;
}
.cid-unSlZhRqgb img {
  width: 100%;
}
.cid-ttPBstFT9k {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-ttPBstFT9k .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttPBstFT9k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttPBstFT9k .mbr-section-title {
  color: #ffffff;
}
.cid-ucsqA2xOw4 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ttPBZNu3xS {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #6ca43d;
}
.cid-ttPBZNu3xS .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttPBZNu3xS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ttPBZNu3xS .mbr-section-title {
  color: #ffffff;
}
.cid-udo9CQXbf3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-udo9CQXbf3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udo9CQXbf3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udo9CQXbf3 .content-head {
  max-width: 800px;
}
.cid-udo9CQXbf3 .mbr-text,
.cid-udo9CQXbf3 .mbr-section-btn {
  color: #4476b2;
}
.cid-udo9CQXbf3 .mbr-section-title {
  color: #4476b2;
}
.cid-u1g7aFiLxm {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-u1g7aFiLxm .mbr-text {
  text-align: center;
  color: #000000;
}
